{{ attach_library('guestbook/guestbook-style') }}

<div class="content-wrapper">
  <div id="message-status"></div>
  <div class="form">
    {{ form }}
  </div>
  <div class="table">
     {{ guest_book_list }}
  </div>
</div>
